#login-module {
    display: none;
    position: absolute;
    left: 45%;
    top: 40%;
    width: 180px;
    height: fit-content;
    background-color: #cee1ff;
    border: solid 3px #77adff;
    padding: 8px;
    border-radius: 5px;
    z-index: 1001;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-input {
    width: 170px;
    margin-bottom: 5px;
}

#login-error {
    color: red;
    font-size: small;
    text-align: center;
    margin-top: 5px;
}