#path {
    display: block;
    height: 90%;
}

#path-toggle-button {
	width: 3em;
	height: 3em;
    margin: 5px 2px 5px auto;
    /* position: absolute; */
    /* top: 120px; TODO change with height of info */
    /* right: 0; */

    background-image: url("../../icons/fork_left_fill.svg");
    background-color: #f8f8f8;
    /* transform: rotate(90deg); */

    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    z-index: 1000;
    border-radius: 3px;
}

#path-toggle-button.active {
    background-image: url("../../icons/double_arrow_fill.svg");
    border-color: #b6b6b6;

    width: 2em;
	height: 2em;
    transform:  scale(0.6);
    margin-top: 0.5em;
    margin-right: 0.1em;

    border-width: 1px;
    border-style: solid;
}

#path-container {
    width: 25%;
    min-width: 11%;
    top: 130px; /*TODO change with height of info*/
    bottom: 10px;
    z-index: 1;
    background-color: #f8f8f8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    /* height:90%; */
}

#path-spacer{
    width: 10px;
    background-color: #b6b6b6;
    cursor: col-resize;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

#path-view {
    background-color: #f8f8f8;
    right: 0;
    height: 100%;
    width: 95%;
}

#path-info {
    z-index: 10000;
    position: absolute;
    right: 10px;
    top: 20px;
    color: gray;
}

.show-cy {
    position: absolute;
    right: 0;
}

.dragging {
    opacity: 0.7;
}

/* Animations */

.slided-out-right {
    animation: slide-out-right 0.1s ease-in-out forwards;
}

.slided-in-right {
    animation: slide-in-right 0.1s ease-in-out forwards;
}

@keyframes slide-out-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.hidden-cy {
    /* can't use display: "none" for cy-container see: https://stackoverflow.com/a/10786656*/
    position: absolute; 
    right: -9999px;
}