body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

/* light and darkmode css vars */
/* Color-scheme: Light */

body  {
    --fg-color: black;
	--fg-danger: white;

    --bg-color: white;
	--bg-selected: #e0e0e0;
	--bg-dropzone: #f5f5f5;
	--bg-dropzone-highlight: #e5e5e5;
	--bg-dropzone-new: #f0f0f0;

	--bg-loading-error: #ffa1a1;
	--bb-loading-progress: #e5e5e5;

	--bg-danger: red;

    --border-color: black;
    --border-color-light: #646464;

    --shadow-color-soft: rgba(0, 0, 0, 0.25);
    --shadow-color-hard: rgba(0, 0, 0, 1);

    --editing-rights: lightgreen;
  }

/* Color-scheme: Dark */

body.dark {
    --fg-color: white;
    --fg-danger: #black;

    --bg-color: black;
    --bg-selected: #333333;
    --bg-dropzone: #202020;
    --bg-dropzone-highlight: #2a2a2a;
    --bg-dropzone-new: #242424;

    --bg-loading-error: #993333;
    --bb-loading-progress: #444444;

    --bg-danger: #cc0000;

    --border-color: #555555;
    --border-color-light: #2e2e2e;

    --shadow-color-soft: rgba(255, 255, 255, 0.05);
    --shadow-color-hard: rgba(255, 255, 255, 0.2);

    --editing-rights: darkgreen;
}
