#legend-toggle-button {
    width:2em;
    height: 2em;
    margin: 0.5em;
    margin-bottom: 10px;
    z-index: 1000;

    background-image: url("../../icons/info.svg");
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 5px;
    background-color: #f8f8f8;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}